<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Registrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="newUser.nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="newUser.apellido"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Area</ion-label>
              <ion-input type="text" [(ngModel)]="newUser.area"></ion-input>
            </ion-item>  
      </ion-list>
      <ion-button ion-button block color="darck" (click)="NewUser()">Guardar</ion-button>
      
  
</ion-content>
